/* Global colour scheme */
:root {
  --off-white: rgba(238, 240, 242, 1);
  --spanish-gray: rgba(162, 153, 158, 1);
  --orange-web: rgba(252, 163, 17, 1);
  --rich-black: rgba(10, 9, 8, 1);
  --onyx: rgba(56, 61, 59, 1);

}

* {
  box-sizing: border-box;
  color: var(--rich-black);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}
/* Header and nav  */
header {
  background-color: var(--onyx);
  padding-top: 10px;
  padding-bottom: 14px;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 55px;
}
h1 {
  background-color: var(--orange-web);
  color: var(--onyx);
  min-width: 300px;
  justify-content: flex-end;
  text-align: end;
  padding: 5px;
  font-size: 2.5rem;
}
/* Hero banner */
.hero-banner {
  background-image: url("../images/code.jpg");
  background-size: cover;
  height: 180px;
}
h2 {
  color: var(--onyx);
}
.tagline {

  background-color: var(--orange-web);
  max-width: 300px;

}

a {
  color: var(--orange-web);
  text-decoration: none;
  text-decoration-line: underline;
  text-decoration-thickness: 5px;
}

ul {
  width: 40%;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}


p {
  margin: 0;
}


