/* Global settings */
:root {
  --off-white: rgba(238, 240, 242, 1);
  --spanish-gray: rgba(162, 153, 158, 1);
  --orange-web: rgba(252, 163, 17, 1);
  --rich-black: rgba(10, 9, 8, 1);
  --onyx: rgba(56, 61, 59, 1);

}

* {
  box-sizing: border-box;
  color: var(--onyx);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--off-white);
}
/* Header and nav  */
header {
  background-color: var(--onyx);
  padding-top: 10px;
  padding-bottom: 14px;
}

h1 {
  background-color: var(--orange-web);
  min-width: 300px;
  text-align: end;
  font-size: 2.8rem;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 55px;
}

nav ul {
  width: 45%;
  min-width: 400px;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding-right: 5px;

}
/* Custom underlining */
li {
  border-bottom: 4px solid var(--orange-web);
  padding: 0px 9px 2px 9px;
}
a {
  color: var(--orange-web);
  text-decoration: none;
}

/* Hero banner */
.hero-banner {
  background-image: url("../images/code.jpg");
  background-size: cover;
  height: 180px;
}
/* tagline */
h2 {
  margin-top: 5px;
}

.tagline {
  position: relative;
  background-color: var(--orange-web);
  min-width: 330px;
  max-width: 450px;
  height: 30%;
  width: 30%;
  text-align: center;
  font-size: 1.3rem;
  float: right;
  right: 8%;
  top: 60%;
}

ul {
  width: 60%;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding-right: 5px;
  align-items: center;
}

/* Main content with cards */
.page-section {
  display: flex;
  justify-content: space-between;
}

.section-title {
  width: 25%;
  border-right: 4px solid var(--spanish-gray);
  text-align: end;
  margin-top: 40px;
}

.section-title h3{
  font-size: 2.8rem;
  padding-right: 15px;
  padding-top: 30px;
}

#about p {
  width: 75%;
  padding: 40px 50px 10px 30px;
}

/* Work cards section */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 72%;
  margin: auto;
  padding-top: 35px;
}

.top-card {
  width: 100%;
  height: 350px;
  margin: 1%;
  border: solid var(--orange-web) 3px;
  background-size:cover;
  position: relative;
}

.card {
  width: 48%;
  min-width: 200px;
  height: 130px;
  margin: 1%;
  border: solid var(--orange-web) 3px;
  flex-grow: 1;
  background-size: cover;
  position: relative;
}
/* Images for cards */
#surf-report {
  background-image: url("../images/02-portfolio-4.jpg");
}
#led-wall {
  background-image: url("../images/02-portfolio-1.jpg");
}
#calculator {
  background-image: url("../images/02-portfolio-2.jpg");
}
#pastel-puzzels{
  background-image: url("../images/02-portfolio-3.jpg")
}
#run-buddy {
  background-image: url("../images/02-run-buddy.jpg");
}
/* Text boxes in project cards */
.text-box {
  background-color: var(--orange-web);
  position: absolute;
  bottom: 10px;
  height: 80px;
  text-align: center;
}

h4 {
  font-size: 1.5rem;
  margin-left: 5px;
  margin-right: 5px;
}

/* p in the cards */
.text-box p {
  bottom: 20px;
  width: 100%;
  text-align: left;
  margin-left: 5px;
  margin-right: 5px;
}

/* Contact us */
.contact li {
  border-bottom: 4px solid var(--spanish-gray);
}

.contact ul {
  width: 75%;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding-right: 20px;
}
#contact .section-title {
  margin-bottom: 100px;
}

footer {
  height: 230px;
  background-image: linear-gradient(var(--off-white), var(--orange-web));
}
/* Brain Web Design Copywright */
footer h5 {
  text-align: center;
  font-size: 25px;
}
/* Address */
footer p {
  text-align: center;
}

/* Media Queries for mobiles */
@media screen and (max-width: 750px) {
  
  header {
    height: 115px;
  }
  h1 {
    height: 55px;
    margin-bottom: 5px;
  }
  nav {
    width: 85%;
    flex-wrap: wrap;
    align-items: left;
    padding: 0px;
  }
  nav ul {
    margin-top: 5px;
    padding-right: 43px;
    margin-left: -50px;
  }
  .tagline {
    padding-left: 10px;
    min-width: 280px;
    width: 60%;
    text-align: left;
    right: 0%;
  }
  /* Main content with cards */
  .page-section {
    flex-wrap: wrap;
    margin-left: 25px;
    margin-right: 25px;
  }
  .section-title {
    width: 100%;
    border-right: 0px;
    border-bottom: 4px solid var(--spanish-gray);
    text-align: start;
  }
  .section-title h3 {
    font-size: 2.2rem;
  }
  #about p {
    width: 100%;
    padding: 40px 0px 10px 0px;
  }
  /* Work card area */
  .flex-container {
    width: 100%;
  }
  /* Contact me area  */
  .contact ul {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    text-align: center;
  }
  .contact li {
    min-width: 200px;
  }
  .contact a {
    color: var(--spanish-gray);
  }
  #contact .section-title {
    margin-bottom: 30px;
  }
}
